# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# OS files
.DS_Store

# Logs and temp files
*.log
*.tmp

# Embeddings
RAGembeddings/
/RAGembeddings/
../RAGembeddings**
app/api.env