# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# FAISS index files
*.faiss
*.index
*.pkl

# Docker
*.pid
*.tar
*.sock

# Redis dump
dump.rdb

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
coverage.xml

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/

# pytest
.pytest_cache/

# Build artifacts
build/
dist/
*.eg*
